<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <%- include('../layouts/head'); %>
  </head>
  <body class="d-flex flex-column h-100" id="the-stylist">
    <%- include('../layouts/event-body-header'); %>

    <h5>
      <small class="text-muted">First Name:</small>
      <%= event.firstName %>
    </h5>
    <h5><small class="text-muted">Last Name:</small> <%= event.lastName %></h5>
    <h5><small class="text-muted">Email:</small> <%= event.email %></h5>
    <h5><small class="text-muted">Phone:</small> <%= event.phone.replace(/\D+/g, '')
      .replace(/(\d{3})(\d{3})(\d{4})/, '($1)$2-$3'); %></h5>
    <h5><small class="text-muted">Schedule:</small> <%= event.schedule %></h5>
    
    <hr />

    <h5><strong><%= (event.date).toUTCString().slice(0,16) %></strong></h5>

    <hr />
    <a
      href="/book-online"
      class="btn btn-outline-primary col-sm-2"
      >Close</a
    >

    <%- include('../layouts/event-body-footer'); %>
    <!-- Footer -->
    <%- include ../layouts/footer %>    
  </body>
</html>
