<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <%- include('../layouts/head'); %>
  </head>
  <body class="d-flex flex-column h-100" id="the-stylist">
    <%- include('../layouts/article-body-header'); %>

    <h5>
      <small class="text-muted">First Name:</small>
      <%= article.firstName %>
    </h5>
    <h5>
      <small class="text-muted">Last Name:</small> <%= article.lastName %>
    </h5>
    <h5><small class="text-muted">Email:</small> <%= article.email %></h5>
    <h5><small class="text-muted">Phone:</small> <%= article.phone %></h5>
    <h5><small class="text-muted">Schedule:</small> <%= article.schedule %></h5>
    <h5><small class="text-muted">Index:</small> <%= article.index %></h5>
    <hr />

    <small><%= (article.date).toUTCString().slice(0,16) %></small>

    <hr />
    <a
      href="/articles?date=<%= (article.date).toISOString().slice(0,10); %>"
      class="btn btn-outline-primary"
      >Close</a
    >

    <%- include('../layouts/article-body-footer'); %>
    <!-- Footer -->
    <%- include ../layouts/footer %>
  </body>
</html>
