<%- include ../layouts/article-header %>

<h1><%= title %></h1>

<ul>
  <% articles.forEach((article) => { %>
  <li>
    <%= !article.published ? '(Draft) ' : '' %>
    <a href="/articles/<%= article.id %>"
      ><%= new Date(article.date).toUTCString().slice(0,16) %></a
    >

    <small> => <%= article.schedule %> => <%= article.index %></small>
  </li>
  <% }); %>
</ul>

<div id="test"></div>
<a href="/articles/create">Create new article</a>

<script src="javascripts/custon.js"></script>

<script>
  // stringify the data passed from router to ejs (within the EJS template only)
  var data = <%- JSON.stringify(articles) %>
  //Passing it to js
  test(data);
</script>
<%- include ../layouts/article-footer %>
