<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <%- include('../layouts/head'); %>
  </head>
  <body class="d-flex flex-column h-100" id="the-stylist">
    <%- include('../layouts/article-body-header'); %>

    <a
      href="/articles/create?date=<%= date %>"
      class="btn btn-outline-danger col-sm-3 mb-3"
      >Create a new schedule</a
    >
    <a href="/admin-area" class="btn btn-outline-primary col-sm-2 mb-3"
      >Return</a
    >

    <table class="table">
      <thead class="custonbgb">
        <tr>
          <th scope="col">SCHEDULE:</th>
          <th scope="col">NAME:</th>
          <th scope="col">PHONE:</th>
          <th scope="col">ACTION:</th>
        </tr>
      </thead>
      <tbody>
        <% articles.forEach((article) => { %>
        <tr>
          <th scope="row"><%= article.schedule %></th>
          <td><%= article.firstName %> <%= article.lastName %></td>
          <td><%= article.phone %></td>
          <td>
            <a
              class="bk bk-detail btn btn-outline-success"
              href="/articles/<%= article.id %>"
              title="Details"
            ></a>
            <a
              class="bk bk-edit btn btn-outline-primary"
              href="/articles/<%= article.id %>/update"
              title="Edit"
            ></a>
            <a
              class="bk bk-delete btn btn-outline-danger"
              href="/articles/<%= article._id %>/delete"
              title="Delete"
            ></a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <h3>
      <%= articles.length <= 0 ? "Sorry! there's no schedules to be shown" : ''
      %>
    </h3>

    <%- include('../layouts/article-body-footer'); %>
    <!-- Footer -->
    <%- include ../layouts/footer %>
    <script>
      // stringify the data passed from router to ejs (within the EJS template only)
      //var data = ;
      //Passing it to js
      //test(data);
      //Get date from Calendar and transfer it to Card header title
      getClickedDate(<%- JSON.stringify(date) %>);
    </script>
  </body>
</html>
